# ========================
# Dependencies
# ========================
node_modules/

# ========================
# Environment variables (SECRETS)
# ========================
.env
.env.*


# ========================
# Logs
# ========================
logs/
*.log
npm-debug.log*


# ========================
# Runtime data
# ========================
pids/
*.pid
*.seed
*.pid.lock

# ========================
# Build output
# ========================
dist/
build/

# ========================
# OS / Editor files
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Test coverage
# ========================
coverage/

# ========================
# Uploads / temp files (VERY IMPORTANT for backend)
# ========================
uploads/
tmp/
temp/

# ========================
# Database
# ========================
*.sqlite
*.db
# ========================
# text
# ========================
*.txt

# ========================
# Optional: lock files (KEEP ONE ONLY)
# ========================
#  package-lock.json   

